/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --dark-red: #aa0000;
  --black: #000000;
  --white: #ffffff;
  --dark-grey: #282937;
  --light-red: #fab0b0;
  --slider-padding: 5rem;
  --handle-size: 3rem;
  --img-gap: 0.5rem;
}